* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-image: url(background.jpg);
    margin: 0px;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
}

::selection {
    background-color: white;
    color: orange;
}

#container {

    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(247, 101, 28, 0.7);
}

h1 {
    color:rgb(252, 252, 252);
    margin-top: 80px;
    font-weight: 400;
    position: relative;
}
h1:after {
    content: '';
    position: absolute;
    height: 5px;
    width:70px;
    background-color: white;
    border-radius: 50px;
    border: none;
    top: 38px;
    left:35px;

}

#plus-icon {
    background-color: rgb(255, 162, 108);
    height: 28px;
    line-height: 30px;
    width: 80px;
    margin: 0px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    color: white;
    transition: background-color 0.3s;
}

#plus-icon:hover {
    background-color:white;
    color:rgb(255, 94, 0);
}

#plus-icon:active {
    font-size: 18px;
}

#addTask {
    margin-top: 25px;
    width: 300px;
    display: flex;
    align-items: center;
    padding-right: 5px;
    justify-content: center;
    margin-bottom: 15px;
    transition: 0.5s;
    background-color: white;
}

#addTask:hover {
    box-shadow: 4px 4px 4px rgb(227, 116, 116);
}

input {
    flex: 1;
    height: 28px;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 7px 10px;
    color: orangered;
}

input::placeholder {
    color: rgb(255, 200, 155);
}

select {
    margin-bottom: 30px;
    padding: 5px 5px;
    outline: none;
    border: none;
    background-color:rgb(253, 221, 211);
    color: rgb(218, 82, 33);
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

select:focus {
    background-color: white;
}

ul {
    padding-left: 0px;
}

.complete-icon {
    height: 30px;
    width: 30px;
    background-color:rgb(58, 232, 58); 
    cursor: pointer;
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: 600;
    font-size: 17px;
    transition: 0.5s;
}

.complete-icon:hover {
    color: rgb(58, 232, 58);
    background-color: white;
}

.complete{
    opacity: 0.5;
    text-decoration: line-through;
}

.delete-icon {
    height: 30px;
    width: 30px;
    background-color:rgb(107, 107, 229);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 13px;
    transition: 0.5s;
}

.delete-icon:hover {
    color: rgb(107, 107, 229);
    background-color: white;
}

.taskRow{
    list-style-type: none;
    margin-bottom: 15px;
    padding: 5px 5px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.taskitem {
    flex: 1;
    color: black;
    font-size: large;
} 